.fondo{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgb(193, 61, 219) 0%, rgb(200, 139, 241) 35%, rgb(210, 185, 228) 100%);
}

.barner{
    background-image: url(img/nueve.webp);
    padding: 25%;
    background-attachment: fixed;
    background-position-x: top center;
    background-size: cover;
    position: relative;
    z-index:1;

}
.barner::after{
    content: "";
    position: absolute;
    background-color: black;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity:0.2;
    z-index: -1;
}
